In [1]:
import pandas as pd
import numpy as np

In [2]:
table=np.arange(1,26).reshape(5,5)

In [3]:
new_t=pd.DataFrame(table,[1,2,3,4,5],['A','B','C','D','E'])

In [19]:
new_t

        A       B       C       D     E
1  saugat       2       3       4     5
2       6       7       8  pandey    10
3      11  subham      13      14  eric
4      16   dipak      18   wagle    20
5      21      22  januka      24    25

In [17]:

print("1.Check pnr status")
print("2.Ticket Reservation")

option = int(input("\nEnter your option : "))


if option==1:
    
    print("The detail status is;")

elif option==2:
    name_list=[]
    address_list=[]
    sex_list=[]
    col_list=[]
    
    
    name=input("enter your name:")
    name_list.append(name)
    
    address=input("enter your address:")
    address_list.append(address)
    
    sex=input("male or female:")
    sex_list.append(sex)
    
    col=input('enter column:'.upper())
    col=col.upper()
    col_list.append(col)
    
    dicc={'name':name_list,
            'address':address_list,
            'sex':sex_list,
            'column':col_list}
    
    print(dicc)
    
    
    if col=='A':
        seat=input("enter the seat number:")
        new_t.A[new_t[col]==int(seat)]=name
    
    elif col=='B':
        seat=input("enter the seat number:")
        new_t.B[new_t[col]==int(seat)]=name
    elif col=='C':
        seat=input("enter the seat number:")
        new_t.C[new_t[col]==int(seat)]=name
    elif col=='D':
        seat=input("enter the seat number:")
        new_t.D[new_t[col]==int(seat)]=name
    elif col=='E':
        seat=input("enter the seat number:")
        new_t.E[new_t[col]==int(seat)]=name
    else:
        print("you have typr wrong column please TRY AGAIN") 
        
        
else:
    print("enter again your choice is invalid")
    
pd.DataFrame(dicc)

1.Check pnr status
2.Ticket Reservation

Enter your option : 2
enter your name:eric
enter your address:gorkha
male or female:male
ENTER COLUMN:e
{'name': ['eric'], 'address': ['gorkha'], 'sex': ['male'], 'column': ['E']}
enter the seat number:15

C:\Users\saugat\Anaconda3\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   name address   sex column
0  eric  gorkha  male      E

In [18]:
new_t

        A       B       C       D     E
1  saugat       2       3       4     5
2       6       7       8  pandey    10
3      11  subham      13      14  eric
4      16   dipak      18   wagle    20
5      21      22  januka      24    25